/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffffff, #cffcf1);
}
.digital-timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.timer-and-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.timer-status-bg-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  /* border: 1px solid red; */
}

.timer-and-timer-status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.time {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
}
.time-status {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
}
.timer-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.play-pause-reset-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.start-pause-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reset-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.set-timer-limit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer-limit-control-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image {
  height: 50px;
}
.text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.minus {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
}
.number {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to right, #cffcf1, #00d9f5);
}
.plus {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}
